.header
{
    h1
    {

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: lightgray;
        width: 100%;
        height: 5rem;
    }  

}


.nav-bar {
    margin-top: -30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 30px;

  
        a {
            color: white;
            text-decoration: none;
          }
   
  }

.main{
    margin-top: 10px;
    display: flex;
        justify-content: center;
        align-items: center;


}
.form-section {
    border: 1px solid black;
    width: auto;
    height: auto;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 20px;

    h2{
        display: flex;
        justify-content: center;
        align-items: center;

    }

}

.form{
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;

    submit{
        background-color: black;
    }

}
.footer {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    align-items: center;
    background-color: lightgray;
    width: 100%;
    height: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
  }
